/*General aspect*/
body
{
  background-color: black;
  color: white;
  font-family: "Courier New", serif;
}

/*header aspect*/
header
{
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
nav ul
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: px;
}
nav li
{
  margin-left: 15px;
}
nav a
{
  color: white;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
nav a:hover
{
  color: rgb(0,150,0);
}

/*articles aspect*/
article
{
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: auto;
}

/* game session */
#navigation_panel
{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  align-items: center;
  text-align: justify;
  margin: auto;
  border-style: none solid none solid;
  padding: 0px 20px 0px 20px;
}

/* collection_navigation */
#collection_navigation
{
  display: flex;
  flex-direction: column;
}
.chapter_button
{
  background-color: black;
  color: white;
  border-color: white;
  font-family: "Courier New", serif;
  border-style: solid;
  padding: 3px;
  margin: 2px;
}

/* node navigation */
#node_text
{
  border-style: solid;
  padding: 20px;
}
.choice
{
  border-style: solid;
  padding: 3px;
  margin: 2px;
}
.choice_text:hover
{
  color: rgb(0,150,0);
}